@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

*{  
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html, body, main{
    height: 100%;
    width: 100%;
}
body{
    background-color: #eee;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
form{
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 0 24px #0003;
}
.content-fomr{
    display: flex;
    align-items: center;
    
}